.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header {
  width: auto;
}

.header p {
  text-align: center;
}

.cloudform {
  posit